#tour{
    background-color: #cb6d51;
    .carousel-inner{
        padding: 40px;

    }
   
}
button{
      
    margin-left: 1300px;
    margin-top: 40px;
    font-size: 30px;
    border-radius: 40px;
    background-color: #98d4ff83;
}
button:hover{
    background-color: aqua;
}
#audio{
   margin-left: 450px;
   padding-bottom: 40px;
}


